/* navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #f8f9fa; /* example background color */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: auto; /* Move links to the left side */
}

.nav-links li {
  list-style: none;
  cursor: pointer;
}

.profile-icon {
  font-size: 24px;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
  gap: 15px;
}
.profile-icon img {
  height: 30px; /* Adjust the height as needed */
  width: 30px;  /* Adjust the width as needed */
  border-radius: 50%; /* Optional: makes the image circular */
}
